
*.pyc

medialog.spacetectheme/src/medialog.spacetectheme.egg-info/SOURCES.txt
medialog.spacetectheme/src/medialog.spacetectheme.egg-info/
medialog.spacetectheme/src/medialog.spacetectheme.egg-info/*
medialog.spacetectheme/src/medialog.spacetectheme.egg-info

medialog.spacetectheme/src/medialog/spacetectheme/theme/extracted-bergensiana-white.css

*.zip

*.zip

medialog.spacetectheme 2/*    
